@model IEnumerable<BlogRealm.Web.Areas.Admin.DTO.CategoryAdminDTO>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/jquery-3.7.0.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script>
    let refresh = false;
    $(document).ready(function() {
        $('body').on('click', '#addNewCategoryBtn', function (e) {
            e.preventDefault();

            $("#createModalContainer").load("@Url.Action("Create", "Category")", function () {
                $("#categoryModal").modal("show");
            });
        });

        $('body').on('hidden.bs.modal', '#categoryModal', function () {
            $("#createModalContainer").empty();

            if (refresh)
            {
                location.reload();
            }
        });

        $('body').on('click', '[id^=editCategoryButton-]', function (e) {
            e.preventDefault();

            var id = $(this).attr('id').split('-')[1];
            var url = '@Url.Action("Update", "Category")' + '/' + id;

            $("#updateModalContainer").load(url, function () {
                $("#updateCategoryModal").modal("show");
            });
        });

        $('body').on('hidden.bs.modal', '#updateCategoryModal', function () {
            $("#updateModalContainer").empty();

            if (refresh)
            {
                location.reload();
            }
        });

        $('body').on('click', '[id^=deleteCategoryButton-]', function (e) {
            e.preventDefault();

            var id = $(this).attr('id').split('-')[1];
            var url = '@Url.Action("Delete", "Category")' + '/' + id;

            $.ajax({
                type: 'POST',
                url: url,
                data: $(this).serialize(),
                dataType: 'json',
                success: function (response) {
                    var messageClass = response.success ? 'alert-success' : 'alert-danger';
                    $('#categoryDeleteResponseMessage').removeClass('alert-success alert-danger d-none').addClass(messageClass).text(response.message);

                    if (response.success) {
                        $(`tr[data-category-id="${id}"]`).remove(); // Remove the category row from the table
                    }
                },
                error: function (xhr, status, error) {
                    $('#categoryDeleteResponseMessage').removeClass('alert-success d-none').addClass('alert-danger').text('An error occurred: ' + error);
                }
            });
        });
    });
</script>

<h2>Categories</h2>

<div id="categoryDeleteResponseMessage" class="alert mt-3 d-none"></div>

<div class="h-100 align-items-center justify-content-center">
    <div class="my-1 d-flex align-items-end justify-content-end">
        <button id="addNewCategoryBtn" class="btn btn-primary text-white" data-toggle="modal" data-target="#categoryModal" data-backdrop="static" data-keyboard="false">
            <i class="fas fa-plus-circle mr-2"></i>Add a new Category
        </button>
    </div>
    <table class="table table-bordered">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>About</th>
            <th>Numbers of Blogs</th>
            <th>Actions</th>
        </tr>
        @foreach (var category in Model)
        {
            <tr data-category-id="@category.Id">
                <td>@category.Id</td>
                <td><a href="@category.Url" target="_blank" rel="noopener noreferrer">@category.Name</a></td>
                <td>@category.About</td>
                <td>@category.Blogs.Count</td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-cogs"></i>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="@category.Url" target="_blank" rel="noopener noreferrer"><i class="fas fa-eye"></i> View</a>
                            <button id="editCategoryButton-@category.Id" class="dropdown-item pb-2"><i class="fas fa-edit"></i> Edit</button>
                            <button id="deleteCategoryButton-@category.Id" class="dropdown-item pt-2 border-top border-secondary text-danger">
                                <i class="fas fa-trash-alt"></i> Delete
                            </button>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </table>
</div>

<div id="createModalContainer"></div>
<div id="updateModalContainer"></div>